

/* Header  */
.container{
   
    height: 700px;

}
.First-Navbar{
display: flex;
background-color: black;
color: white;
justify-content: space-around;

}
.ShopNow{
    color: white;
}
.countries{
    border: none;
    background-color: black;
    color: white;
    margin-top: 12px;
    font-family: Poppins;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0%;

}
.para{
gap: 20px;
font-family: Poppins;
font-weight: 400;
font-size: 14px;
line-height: 21px;
letter-spacing: 0%;
width: 474;
height: 18;


}


/* Second NavBar */
.Second-Navbar{
    display: flex;


}
/* main  */
/* Pic-section  */
.main{
    display: flex;
    width: 100%;
    height: 500px;
    margin-top: 70px;
  
}
.pic-section{

    background-image: url(./beatsnoop\ 1\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 43%;
    height: 500px;
 
}
.form-section{
    width: 45%;
    height: 500px;

}

/* Form-section  */
.create{
    color: rgba(0, 0, 0, 1);
    margin-top: 80px;
    margin-left: 200px;
    font-size: larger;
    /* float: right; */
}

div input{
    color: rgba(0, 0, 0, 1);
    border: none;
    outline: none;
    width: 180px;
    height: 30px;
}

div button{

    width: 180px;
    height: 45px;
}
.account1{
    color: white;
    background-color: rgba(219, 68, 68, 1);
    width: 250px;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
}
.google{
    background-color: white;
    border-color:rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    margin-top: 15px;
    width: 250px;

}



.form{
    display: flex ; 
    flex-direction: column;
    /* float: right; */
    /* margin-top: 130px; */
    margin-left: 200px;
}






/* Class First-portion */
.First-portion{
    display: flex;
}
.h1{
    margin-right: 100px;
    margin-left: 100px;
}

.home{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    gap: 60px;

}
.home ul{
    display: flex;
    text-decoration: none;
    list-style-type: none;
    color: black;
    gap: 30px;
}
.home ul li a {
    text-decoration: none;
    color: black;
}
.home ul li{
    font-size: 20px;
    margin-left: 20px;
}


/* Class Second-Portion*/
.second-portion{
    display: flex;
    display: flex;
    width: 5px;
    font-size: 10px;
    margin-top: 18px;
     gap: 20px;
     margin-left: 170px;

    
}
.heart{
    margin: 15px;
    
    
}
.cart{
    margin-top:8px;
}
.search-bar{
    display: flex;
    align-items: center;
    width: 250px;

    height: 40px;
    border-radius: 10px;
    padding: 0 10px;
    margin-top: 5px;
    gap: 34px;
    background: rgba(245, 245, 245, 1);

}
.search{
    background: transparent;
    height: 0 10px;
    margin-bottom: 5px;
}


.heart-cart{
    display: flex;
    width: 3px;

    font-size: 15px;
}

/* footer  */

.container9{
   margin-top: 40px;
    background-color: black;
    width: 100%;
    height: 320px;
}
.footer{
 display: flex;
    justify-content: space-around;
}

.subscribe{
    color: white;
}

.footer-support{
    color: white;

}
.account{
    color: white;

}
.account p a{
    list-style-type: none;
    text-decoration: none;
    color: white;

}

.quick{
    color: white;

}
.quick p a{
    list-style-type: none;
    text-decoration: none;
    color: white;

}

.lower-footer{
    margin-top: 20px;
    justify-content: center;
    text-align: center;
    border: 2px solid rgb(42, 38, 38);
    color: rgb(56, 45, 45);
}
